{% extends 'base.html.twig' %}

{% block body %}
    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-warning flash-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <h1 class="jumbotron-heading">Usuarios</h1>

                <p>
                    <a href="{{ path("app_admin_create_user") }}" class="btn btn-secondary my-2">Crear Usuario</a>
                </p>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="table-responsive-xl">
                        <table class="table" id="table_data">
                            <thead>
                                <tr>
                                    <th scope="col">LOGIN</th>
                                    <th scope="col">NOMBRE</th>
                                    <th scope="col">ACCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in users %}
                                    {% if row.id != user.id %}
                                        <tr>
                                            <td>{{ row.login }}</td>
                                            <td>{{ row.name }}</td>
                                            <td>
                                                <span class="pr-2">
                                                    <a href="{{ path("app_admin_edit_user", {id: row.id}) }}"><i class="fa fa-edit" aria-hidden="true"></i> Editar</a>
                                                </span>
                                                <span>
                                                    <a href="{{ path("app_admin_view_user_tasks", {id: row.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i> Ver Tareas</a>
                                                </span>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}