<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between col-sm-4 col-9">
            <a href="{{ path('app_index') }}" class="navbar-brand d-flex align-items-center">
                <strong>Tareas</strong>
            </a>
        </div>

        <div class="float-right col-3 col-sm-8 text-right" style="white-space:nowrap;">
            <span class="text-lowercase text-sm text-white mr-1">{{ user.name }}</span>

            <span class="pr-2">
                <a class="text-white" href="{{ path('app_change_password') }}" title="Cambiar Password">
                    <i class="fas fa-key fa-lg"></i>
                </a>
            </span>

            {% if user.admin == true %}
                <span class="pr-2">
                    <a class="text-white" href="{{ path('app_admin') }}" title="Backoffice">
                        <i class="fas fa-users-cog fa-lg"></i>
                    </a>
                </span>
            {% endif %}

            <span>
                <a class="text-white" href="{{ path('app_logout') }}" title="Desconectar">
                    <i class="fas fa-power-off fa-lg"></i>
                </a>
            </span>
        </div>
    </div>
</header>