<title>Tareas</title>
<meta name="viewport" content="initial-scale=1" />
<link href="{{ asset("bootstrap.min.css") }}" rel="stylesheet" />
<link rel="stylesheet" href="{{ asset("fontawesome/all.css") }}" />
<link rel="stylesheet" href="{{ asset("jquery.dataTables.min.css") }}" />
<link rel="stylesheet" href="{{ asset("buttons.dataTables.min.css") }}" />
<script src="{{ asset("jquery-3.4.1.min.js") }}"></script>
<script src="{{ asset("bootstrap.min.js") }}"></script>
<script src="{{ asset("jquery.dataTables.min.js") }}"></script>
<script src="{{ asset("dataTables.buttons.min.js") }}"></script>
<script src="{{ asset("buttons.flash.min.js") }}"></script>
<script src="{{ asset("jszip.min.js") }}"></script>
<script src="{{ asset("pdfmake.min.js") }}"></script>
<script src="{{ asset("vfs_fonts.js") }}"></script>
<script src="{{ asset("buttons.html5.min.js") }}"></script>
<script src="{{ asset("buttons.print.min.js") }}"></script>